/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.main-container{
	width:600px;
	height:250px;
	border:2px solid black;
	border-radius:10px;
}

h1#verification_heading {
	text-align:center;
    font-size: 24px;
    color: #333;
}

p#verification_subtext {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
	text-align:center;
}

input.code{
	width:40px;
	height:40px;
	font-size:24px;
	text-align:center;
	border:1px solid grey;
	border-radius:10px;
	align-items:center;
}

input.code:focus {
    border-color: #007bff;
}